@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-ExtraBold.otf"), url("../fonts/Gilroy-Light.otf");
}
.aptitudes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 900px) {
  .aptitudes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .aptitudes-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
