@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-ExtraBold.otf"), url("../fonts/Gilroy-Light.otf");
}

:root {
    --main-color: #07adef;
    --second-color: #045677;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
img {
    max-width: 100%;
    max-height: 100%;
}
h1,
h2,
h3,
h4 {
    font-family: "Gilroy", "Poppins", sans-serif;
}

.sidebar {
    width: 18.75rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);

    &-brand {
        height: 90px;
        padding: 1rem 0rem;
        text-align: center;

        img {
            display: inline-block;
        }
        &-logo {
            width: 4rem;
        }
    }

    &-menu {
        li {
            display: flex;
            align-items: center;
            width: 100%;
            margin: 1rem 0;
            padding-left: 1rem;
            span {
                margin: auto 0;
                padding-left: 0.75rem;
            }
            a {
                display: flex;
                color: var(--color-dark);
                padding-left: 1rem;
                font-size: 1.1rem;
                width: 100%;
                &.active {
                    background: var(--color-dark);
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: var(--main-color);
                    font-weight: 500;
                    border-radius: 30px 0 0 30px;
                    span {
                        color: #f0f0f0;
                    }
                }
            }
        }
        &-logo {
            margin: auto 0;
            height: 40px;
        }
    }
}
.main-content {
    margin-left: 18.75rem;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 18.75rem;
        width: calc(100% - 18.75rem);
        padding: 1rem;
        max-height: 6.75rem;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        z-index: 2;
        h2 {
            display: flex;
            color: #222;

            img {
                width: 3rem;
                padding: 0 0.5rem;
            }
        }
        .search-wrapper {
            border: 1px solid #ccc;
            border-radius: 30px;
            height: 50px;
            display: flex;
            align-items: center;
            overflow-x: hidden;
            img {
                width: 20px;
                margin-left: 1rem;
            }
            input {
                border: none;
                height: 100%;
                padding: 0.5rem;
                border: none;
                outline: none;
            }
        }
        .user-wrapper {
            display: flex;
            place-items: center;
            img {
                width: 5rem;
                border-radius: 50%;
                margin-right: 1rem;
            }
            p {
                color: var(--text-grey);
                margin-top: 0.5rem;
                font-size: 0.85rem;
            }
        }
    }
    main {
        padding: 0rem 1.5rem;
        min-height: calc(100vh - 6.75rem);
        margin-top: 7.75rem;

        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fill ,minmax(3rem, 1fr));
            gap: 2rem;
            .card-single {
                display: flex;
                justify-content: space-between;
                padding: 1rem 2rem;
                border-radius: 1rem;
                text-align: center;
                background: #f0f0f0;
                div:last-child span {
                    font-size: 1.5rem;
                }

                img {
                    width: 4rem;
                }
            }
        }

        .principal {
            display: grid;
            gap: 2rem;
            max-height: 67.50vh;
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            overflow-x: hidden;
            overflow-y: auto;
            scroll-snap-type: y mandatory;
            padding: 2rem;
            .card {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 2.5fr 2.5fr 1fr;
                grid-template-areas: "image" "text" "stats";
                border-radius: 1rem;
                background: white;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
                font-family: roboto;
                text-align: center;
                transition: 0.5s ease;
                cursor: pointer;
                scroll-snap-align: center;
                &-image {
                    grid-area: image;
                    background: url("../img/astronauta.png");
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &-text {
                    grid-area: text;
                    margin: 0.5rem;
                    .date {
                        color: var(--second-color);
                        font-size: 12px;
                    }
                    p {
                        color: var(--text-grey);
                        font-size: 10px;
                        font-weight: 600;
                    }
                    h2 {
                        margin-top: 0px;
                        font-size: 24px;
                    }
                }
                &-stats {
                    grid-area: stats;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    background: var(--second-color);
                    font-size: 10px;
                    color: #f0f0f0;
                    .stat {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 10px;

                        border: 1px solid #f0f0f0;
                        &:first-child {
                            border-bottom-left-radius: 15px;
                        }
                        &:last-child{
                    border-bottom-right-radius: 15px;

                        }
                    }
                }
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
                    .card-stats {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

/*
  @media screen and (min-width: 992px) {

  /* HEADER */
/*  
  #header{
      position:absolute;
  }
  
  /* DASHBOARD */
/*
  main {
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .glass {
    background: white;
    min-height: 80vh;
    width: 95vw;
    background: rgba(255, 255, 255, 0.5);
  
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
  }
  .circle1,
  .circle2 {
    background: linear-gradient(to right bottom,
      rgba(255,255,255,0.8),
      rgba(255,255,255,0.3));
    height: 30rem;
    width: 30rem;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    opacity: 20%;
    filter: blur(35rem);
  }
  .circle1 {
    background: #07daef;
    top: 1%;
    left: 1%;
  }
  
  .circle2 {
    background: #ff00e5;
    bottom: 1%;
    right: 1%;
  }
  
  img {
    width: 3rem;
    height: 3rem;
  }
}
*/

/* WAVES */

.custom-shape-divider-bottom-1626846102 {
    position: absolute;
    bottom: 0;
    left: 18.75rem;
    width: calc(100% - 18.75rem);
    overflow: hidden;
    line-height: 0;

    & svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 75px;

        & .shape-fill {
            fill: var(--main-color);
            z-index: 1;
        }
    }
}
.freepik-icons {
    position: absolute;
    bottom: 0;
    left: 310px;
    font-size: 0.5rem;
    text-align: right;
    padding-right: 1rem;
    z-index: 1;
}
.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.5rem;
    text-align: right;
    padding-right: 1rem;
    z-index: 1;
}
/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1626846102 svg {
        width: calc(100% + 1.3px);
        height: 35px;
    }
}
